MYAPIKEY = ""
MYSABURL = "http://127.0.0.1:8080/sabnzdb/api"
MYSABAPI = ""
MYRSS2FEEDURL = ""
MYRSSCHECK = 120
MYMOVIECHECK = 479
MYMOVIESCHECK = 16
MYPREFERREDWORDS = "dts,unrated,extended"
MYBANNEDWORDS = "tc.720p,HDTC,hd tc,xvid,cam,hevc,h265,x265,korsub,deutsch,german,hebsub,french,spanish,nl subs,hd-tc,hd-ts,dvd9,dvd5"